 /**Figuras **/
 .contenedor-general{
  margin-top: 40px;
  margin-bottom: 40px;
 }

 .container__block-general{
  width: 600px;
  height: 300px;
  margin: 0;
  padding: 0;
 }
 .container {
  perspective: 1000px;
}

 .container__block-general img{
  width: 100%;
  height: 100%;
  object-fit:inherit;
 }

 .card-rotativa{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
 }

 .card-rotativa div{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  border-radius: 5px;
 }

 .card-rotativa .card-front {
  transform: rotateY(0deg);
}

.card-rotativa .card-back {
  transform: rotateY(180deg);
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}
.card-front {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

}
.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el comportamiento de la imagen para llenar el espacio sin deformarse */
  opacity: 1; /* La opacidad de la imagen se establece en 1 (completamente visible) */
}

.card-rotativa .card-back{
  color: w;
}

.card-front::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 171, 171, 0.5);
  z-index: 1;
}