@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins&display=swap');

/**Titulo**/
*{
  box-sizing: border-box;
}
body {
    font-family: 'Inconsolata', monospace;
  }
.titulo-principal{
    font-size: 3.5rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0 450px;
    border-bottom: 1px solid #454546;
    color:  #454546;
}
.navbar{
    margin-top: 80px ;
    font-size: 1.3rem;
    color: #454546;
}
.navbar .container-fluid {
  position: relative;
}
.navbar a:hover{
    font-size: 1.6rem;
    font-weight: bold;
}
/* Estilos para el menú transparente */
.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
  }
  .navbar.navbar-solid {
    margin-top: 0;
  }
  .navbar-solid {
    background-color: white !important; /* Change this color to the desired background color */
    transition: background-color 0.2s ease-in;
  }
  /* Estilo cuando el .carousel está scrolled */
  .scrolled .carousel {
    margin-top: 0px;
  }


/**Hero**/
.hero {
    position: relative;
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Ajusta el valor alfa para cambiar la transparencia */
    z-index: 1;
  }

.carousel{
    margin-top: 60px;
}

.carousel-inner {
    height: 600px; 
    transition:all 0.2s ease-in-out;
  }

  .carousel-inner .carousel-item img {
    object-fit: cover; 
    width: 100%;
    height: 600px;
  }
  .carousel-item{
    height: 300px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .carousel-caption{
    z-index: 2;
  }
  .carousel-caption p{
    margin-top: 20px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 17px;
    color: white;
  }

  /**Circle**/

  .circle{
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar los círculos verticalmente */
  flex-wrap: wrap;
  }
  .circle .col-custom {
    margin: 0 !important;
  }
 
  .circle-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
  }
  .circle-ideas{
    position: relative;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    width: 200px; /* Ancho fijo del contenedor */
    height: 200px; /* Alto fijo del contenedor */
    border-radius: 50%;
    margin: 0 auto;
    padding: auto;
  }
  .div-circle{
    margin: 30px 0;
  }
  .overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff; /* Letra blanca */
     width: 100%; /* Ocupar el 100% del contenedor */
     height: 100%; /* Ocupar el 100% del contenedor */
     display: flex;
     align-items: center;
    justify-content: center;
     flex-direction: column; 
    border-radius: 50%
}
.overlay p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}
.overlay .iconos-contenedor{
  font-size: 25px;
}
.circle-ideas:hover img{
    opacity: 0.2;
}
.circle-ideas:hover .overlay{
    opacity: 1;
}
 

  /**Card**/
  .clickable-div {
    cursor: pointer;
  }
   .card-investigacion{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 60%; 
  height: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid rgba(69, 69, 70, 0.7);
  }
  .card-investigacion img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px 5px 0 0; /* Agregamos un borde redondeado solo en la parte superior */
  }
  .card-investigacion .card-body {
    padding: 10px;
    background-color: white;
    border-radius: 0 0 10px 10px; /* Borde redondeado solo en la parte inferior */
  }
 

  @media screen and (max-width: 30px){
    .circle-img{
      width: 120px;
      height: 120px;
    
    }
    .circle-ideas{
      width: 120px; 
      height: 120px; 
    }

  }
  @media screen and (max-width: 400px){
    .titulo-principal{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .navbar-content{
        position: relative;
        top: 50px;
        left: 110px;
        
    }
    .navbar-collapse{
        position: relative;
        top: -10px;
        left: -10px;
        background-color: white;
        margin-top: 60px;
        text-align: center;
        
    }
    .navbar a{
        font-size: 1.2rem;
    }
    .section-hero{
        margin-top: 50px;
    }
    .carousel-caption p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
        color: white;
      }
      
  }

@media screen and (max-width: 570px){
    .titulo-principal{
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: left; 
    }
    .navbar{
        margin-top: 35px;
    }
    .navbar .container-fluid{
        position: relative;
        top: -37px;
        left: -25px;
        margin: 20px;
    }
    .navbar a{
        font-size: 1.2rem;
    }
    .navbar a:hover{
        font-size: 1.6rem;
    }
    .carousel{
        margin-top: 10px;
    }
    .scrolled .carousel {
        margin-top: 0px;
    }
    .card-investigacion{
        width: 90%; 
        height: 650px;
        font-size: 15px;
    }
    .card-investigacion img {
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-radius: 5px 5px 0 0; /* Agregamos un borde redondeado solo en la parte superior */
    }
    .card-investigacion .card-body {
        padding: 10px;
        background-color: white;
        border-radius: 0 0 10px 10px; /* Borde redondeado solo en la parte inferior */
    }
}

@media (max-width: 775px) {
    .carousel-caption p {
      font-size: 15px;
    }
    .carousel-caption h3 {
        font-size: 20px;
      }

      .card-estrategia{
        width: 90%; 
        height: 650px;
        font-size: 15px;
        }
        .card-investigacion img {
          width: 100%;
          height: 40%;
          object-fit: cover;
          border-radius: 5px 5px 0 0; /* Agregamos un borde redondeado solo en la parte superior */
        }
        .card-investigacion .card-body {
          padding: 10px;
          background-color: white;
          border-radius: 0 0 10px 10px; /* Borde redondeado solo en la parte inferior */
        }
        
      
  }

  @media screen and (min-width: 776px) and (max-width: 980px){
    .card-investigacion{
      width: 80%; 
      height: 600px;
      font-size: 18px;
      }
      .card-investigacion img {
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-radius: 5px 5px 0 0; /* Agregamos un borde redondeado solo en la parte superior */
      }
      .card-investigacion .card-body {
        padding: 10px;
        background-color: white;
        border-radius: 0 0 10px 10px; /* Borde redondeado solo en la parte inferior */
      }
    
  }
  
  @media screen and (max-width: 1000px){
    .circle-img{
      width: 180px;
      height: 180px;
    
    }
    .circle-ideas{
      width: 180px; 
      height: 180px; 
    }

  }

